 
html, body, #page {
    margin: 0;
    padding: 0;
}

#page{
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}
#header{
    font-family: 'Poppins', sans-serif;
    position:fixed;
    display: grid;
    grid-area: 1/1;
    grid-template-columns: 3vw 8vw 3vw 8vw 3vw 8vw auto 20vw 3vw 5vw 4vw;
    background-color: #081B30;
    color: white;
    width: 100%;
}
#titre{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/8;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: auto;
}
#bouton_competence{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/2;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
#bouton_projets{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/4;
    text-align: center;
    font-size: 20px;
    margin: auto;
}
#bouton_reseaux{
    font-family: 'Poppins', sans-serif;
     display: grid;
     grid-area: 1/6;
     font-size: 20px;
     text-align: center;
     margin: auto;
 }
a{
    color: inherit;
    text-decoration: none;
}
.boutoncategorie:hover{
    color: #86BBD8;
}
.boutoncategorie{
    color: rgb(216, 215, 215);
}
#centre_page{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    background-image: linear-gradient(292deg, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 20%,rgba(151, 151, 151, 0.03) 20%, rgba(151, 151, 151, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(254, 254, 254, 0.03) 60%, rgba(254, 254, 254, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(62deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 20%,rgba(171, 171, 171, 0.03) 20%, rgba(171, 171, 171, 0.03) 40%,rgba(206, 206, 206, 0.03) 40%, rgba(206, 206, 206, 0.03) 60%,rgba(210, 210, 210, 0.03) 60%, rgba(210, 210, 210, 0.03) 80%,rgba(69, 69, 69, 0.03) 80%, rgba(69, 69, 69, 0.03) 100%),linear-gradient(314deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 20%,rgba(254, 254, 254, 0.03) 20%, rgba(254, 254, 254, 0.03) 40%,rgba(178, 178, 178, 0.03) 40%, rgba(178, 178, 178, 0.03) 60%,rgba(211, 211, 211, 0.03) 60%, rgba(211, 211, 211, 0.03) 80%,rgba(73, 73, 73, 0.03) 80%, rgba(73, 73, 73, 0.03) 100%),linear-gradient(32deg, rgba(182, 182, 182, 0.01) 0%, rgba(182, 182, 182, 0.01) 12.5%,rgba(208, 208, 208, 0.01) 12.5%, rgba(208, 208, 208, 0.01) 25%,rgba(178, 178, 178, 0.01) 25%, rgba(178, 178, 178, 0.01) 37.5%,rgba(143, 143, 143, 0.01) 37.5%, rgba(143, 143, 143, 0.01) 50%,rgba(211, 211, 211, 0.01) 50%, rgba(211, 211, 211, 0.01) 62.5%,rgba(92, 92, 92, 0.01) 62.5%, rgba(92, 92, 92, 0.01) 75%,rgba(56, 56, 56, 0.01) 75%, rgba(56, 56, 56, 0.01) 87.5%,rgba(253, 253, 253, 0.01) 87.5%, rgba(253, 253, 253, 0.01) 100%),linear-gradient(247deg, rgba(103, 103, 103, 0.02) 0%, rgba(103, 103, 103, 0.02) 12.5%,rgba(240, 240, 240, 0.02) 12.5%, rgba(240, 240, 240, 0.02) 25%,rgba(18, 18, 18, 0.02) 25%, rgba(18, 18, 18, 0.02) 37.5%,rgba(38, 38, 38, 0.02) 37.5%, rgba(38, 38, 38, 0.02) 50%,rgba(246, 246, 246, 0.02) 50%, rgba(246, 246, 246, 0.02) 62.5%,rgba(9, 9, 9, 0.02) 62.5%, rgba(9, 9, 9, 0.02) 75%,rgba(167, 167, 167, 0.02) 75%, rgba(167, 167, 167, 0.02) 87.5%,rgba(86, 86, 86, 0.02) 87.5%, rgba(86, 86, 86, 0.02) 100%),linear-gradient(90deg, hsl(194,0%,10%),hsl(194,0%,10%));grid-template-rows: 20vh 40vh 10vh 30vh;
    grid-template-columns: 5vw 20vw 40vw 30vw 5vw;
}
#ConteneurPhoto{
    display: grid;
    grid-area: 2/4;
    justify-items: center;
    align-items: center;
    width: 100%;
      
}
#PP{
    display: grid;
    width: 450px;
    height: 600px;
    place-items: center;
    border-radius: 100%;
}
#titre_centre_page{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/3;
    font-size: 40px;
    color: white;
    text-align:left;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}
#description_centre_page{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 3/2;
    font-size: 20px;
    color: white;
}
#footer{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 25vw auto 5vw auto 5vw auto 25vw;
    grid-template-rows: 3vh 3vh 50px;
    grid-area: 6/1;
    color: white;
    background-color: #081B30;
}
#Politique\ de\ confidencialiter{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
    text-align: center;
    justify-content: end;
    font-size: 30px;
}
#Me\ contacter\ {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/6;
    place-items: center;
    text-align: center;
    justify-content: start;
    font-size: 30px;
}
#Ligne\ copyright{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 3/4;
    place-items: center;
}
#Mes\ Compétences\ parent{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 3/1;
    color: black;
    grid-template-rows: 15vh 70vh 5vh 10vh;
    background-color: white;
    grid-template-columns: 12.5vw 35vw 5vw 35vw 12.5vw;
}
#ConteneurTitreMesCompetences{
    display: grid;
    grid-column: 1/6;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 7.5vh 3px 7.5vh;
}
#TitreMesCompetences{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    display: grid;
    grid-area: 1/2;
    place-items: center;
    background-color: white;
    margin: auto;
}
#BarDeSeparationCompetences{
    display: grid;
    grid-column: 2/2;
    grid-row: 2;
    background-color: black;
}
#Experience\ conteneur{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 90% 5%;
    background-color: white;
    
}
#text\ Experience{
    font-family: 'Poppins', sans-serif;
    display:grid;
    font-size: 30px;
    grid-area: 1/1;
    place-items: center;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background-color: #081B30;
    color: white;
}


#emplacement\ experience{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
    background-color: #D9D9D9;
    border-radius: 100px;
    grid-template-rows: 20% 80%;
}
#Conteneur\ Logiciel\ Hobbies{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area:2/4;
    background-color: white;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 40% 10% 40% 5%;
}
#Case\ Experience{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 5% 40% 10% 40% 5%;
}

#Usine\ conteneur{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
    grid-template-rows: 80% 20%;
}
#texte\ usine {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    place-items: center;

}
#image\ usine{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    place-items: center;
    
}

#Pompier\ conteneur{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/4;
    grid-template-rows: 80% 20%;
}
#texte\ pompier {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    place-items: center;
}
#image\ pompier{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    place-items: center;
}
.Logo{
    display: grid;
    width: 150px;
    height: 150px;
    place-items: center;
}

#Cours\ de\ soutien{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 4/2;
    grid-template-rows: 80% 20%;
}
#texte\ Cours\ de\ soutien {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    place-items: center;

}
#image\ Cours\ de\ soutien{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    place-items: center;
}

#Bac\ général{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 4/4;
    grid-template-rows: 80% 20%;
}
#texte\ bac\ général {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    place-items: center;

}
#image\ bac{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    place-items: center;
}

#Logiciel\ conteneur{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
    background-color: white;
    grid-template-rows: 30% 70%;
    border-radius: 100px;
    background-color: #D9D9D9;
}

#Text\ Logiciel{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    background-color: #081B30;
    color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    place-items: center;
}

#Contient\ les\ logos{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
}
#Logo\ powerpoint{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
}
#Logo\ Fusion360{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/4;
}
#Logo\ Figma{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/6;
}

#Hobbies\ conteneur{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 4/2;
    background-color: #D9D9D9;
    grid-template-rows: 30% 70%;
    border-radius: 100px;
}
#ContientHobbies{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/1;
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%; 
}

#LogoPompier{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/2;
}
#LogoMusique{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/4; 
}
#LogoRugby{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 2/6; 
}
#Text\ Hobbies{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    background-color: #081B30;
    color: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    place-items: center;
}
#VoirPlusCompetences{
    display: grid;
    grid-area: 4/4;
    color: black;
    font-size: 24px;
    text-align: right;
}

#Mes_Projets{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 4/1;
    grid-template-rows: 20vh 60vh 20vh;
}
#ConteneurTitreMesProjets{
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-area: 1/1;
    grid-template-rows: 7.5vh 3px 7.5vh;
    grid-template-columns: 30vw 40vw 30vw;
}
#TitreProjets{
    display: grid;
    grid-area: 1/2;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
#BarDeSeparationProjets{
    display: grid;
    grid-column: 2/2;
    grid-row: 2;
    background-color: black;
}
#ConteneurProjet{
    display: grid;
    grid-area: 2/1;
    grid-template-columns: 5vw 5vw 5vw 20vw 5vw 20vw 5vw 20vw 5vw 5vw 5vw;
}
#FlecheD{
    display: grid;
    grid-area: 1/2;
}
#FlecheG{
    display: grid;
    grid-area: 1/10;
    
}
.arrowd{
    width: 5vw;
    height: 5vw;
    margin: auto;
    transform: rotate(90deg); 
}
.arrowg{
    width: 5vw;
    height: 5vw;
    margin: auto;
    transform: rotate(-90deg); 
}
#Projet1{
    display: grid;
    grid-area: 1/4;
    grid-template-rows: 20% 80%;
    background-color: white;
    border-radius: 100px;
}
.HeaderProjet{
    display: grid;
    grid-area: 1/1;
    background-color: #081B30;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    
}
.TitreHeaderProjet{
    display: grid;
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}
#Projet2{
    display: grid;
    grid-area: 1/6;
    grid-template-rows: 20% 80%;
    background-color: blue;
    border-radius: 100px;
}
#Projet3{
    display: grid;
    grid-area: 1/8;
    grid-template-rows: 20% 80%;
    background-color: white;
    border-radius: 100px;
}

#MeContacter{
    display: grid;
    grid-area: 5/1;
    grid-template-rows: 5vh 10vh 5vh;
}
#TitreMeContacter{
    display: grid;
    grid-area: 1/1;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
#BoxReseaux{
    display: grid;
    grid-area: 2/1;
    grid-template-columns: 30vw 5vw 12.5vw 5vw 12.5vw 5vw 30vw;
}
#Email{
    display: grid;
    grid-area: 1/2;
    margin: auto;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #D9D9D9;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    justify-items: center;
    align-items: center;
}

#Github{
    display: grid;
    grid-area: 1/4;
    margin: auto;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #D9D9D9;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    justify-items: center;
    align-items: center;
}
#Linkedin{
    display: grid;
    grid-area: 1/6;
    margin: auto;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: #D9D9D9;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    justify-items: center;
    align-items: center;
}
.LogoContacte{
    margin: auto;
    width: 8vh;
    height: 8vh;
}