
html, body, #page {
    margin: 0;
    padding: 0;
}

#page{
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: white;
    color: black;
}
#header{
    position:fixed;
    display: grid;
    grid-template-columns: 3vw 8vw 3vw 8vw 3vw 8vw auto 20vw 3vw 5vw 3vw;
    background-color: #081B30;
    color: white;
    width: 100%;
}
#titre{
    display: grid;
    grid-area: 1/8;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: auto;
}
#bouton_competence{
    display: grid;
    grid-area: 1/2;
    text-align: center;
    margin: auto;
    font-size: 15px;
}
#bouton_projets{
    display: grid;
    grid-area: 1/4;
    text-align: center;
    font-size: 15px;
    margin: auto;
}#bouton_reseaux{
     display: grid;
     grid-area: 1/6;
     font-size: 15px;
     text-align: center;
     margin: auto;
 }

.bouton:hover{
    color: #86BBD8;
}
#centre_page{
    display: grid;
    grid-area: 2/1;
    grid-template-rows: 300px;
    grid-template-columns: 45vh auto;
    background-color: grey;
}
#centre_page_haut{
    display: grid;
    grid-area: 1/2;
    grid-template-rows: auto;
    background-color: grey;
}
#titre_centre_page{
    display: grid;
    grid-area: 2/1;
    font-size: 30px;
    color: white;
    text-align: right;

}
#description_centre_page{
    display: grid;
    grid-area: 4/1;
    font-size: 20px;
    color: white;
    background-color: black;
}
#footer{
    display: grid;
    grid-template-columns: 25vh auto 5vh auto 5vh auto 25vh;
    grid-template-rows: 3vh auto 3vh;
    grid-area: 4/1;
    color: white;
    background-color: #081B30;
}
#Politique\ de\ confidencialiter{
    display: grid;
    grid-area: 2/2;
    text-align: center;
    justify-content: end;
    font-size: 30px;
}
#Me\ contacter\ {
    display: grid;
    grid-area: 2/6;
    place-items: center;
    text-align: center;
    justify-content: start;
    font-size: 30px;
}
#Ligne\ copyright{
    display: grid;
    grid-area: 3/4;
    place-items: center;
}
#Mes\ Compétences\ parent{
    display: grid;
    grid-area: 3/1;
    grid-template-rows: 40px auto 10px auto 40px;
    color: black;
}
#Texte\ Mes\ Compétences{
    display: grid;
    place-items: center;
}
#Experience\ conteneur{
    display: grid;
    grid-template-rows: 10px auto;
    background-color: grey;
    grid-template-columns: 10vw auto 25vw auto 10vw;
}
#text\ Experience{
    display:grid;
    grid-area: 2/1;
}


